{% extends 'GibzElectricBundle:Layout:frontend.html.twig' %}
{% block page_class %}page_frontend_game{% endblock %}
{% block content %}
    <div class="container game-field">
        <div class="row">
            <div class="col">
                <div class="cell w-100 h-100" data-pos="00"></div>
            </div>
            <div class="col">
                <div class="cell w-100 h-100" data-pos="01"></div>
            </div>
            <div class="col">
                <div class="cell w-100 h-100" data-pos="02"></div>
            </div>
            <div class="col">
                <div class="cell w-100 h-100" data-pos="03"></div>
            </div>
            <div class="col">
                <div class="cell w-100 h-100" data-pos="04"></div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="cell w-100 h-100" data-pos="10"></div>
            </div>
            <div class="col">
                <div class="cell w-100 h-100" data-pos="11"></div>
            </div>
            <div class="col">
                <div class="cell w-100 h-100" data-pos="12"></div>
            </div>
            <div class="col">
                <div class="cell w-100 h-100" data-pos="13"></div>
            </div>
            <div class="col">
                <div class="cell w-100 h-100" data-pos="14"></div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="cell w-100 h-100" data-pos="20"></div>
            </div>
            <div class="col">
                <div class="cell w-100 h-100" data-pos="21"></div>
            </div>
            <div class="col">
                <div class="cell w-100 h-100" data-pos="22"></div>
            </div>
            <div class="col">
                <div class="cell w-100 h-100" data-pos="23"></div>
            </div>
            <div class="col">
                <div class="cell w-100 h-100" data-pos="24"></div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="cell w-100 h-100" data-pos="30"></div>
            </div>
            <div class="col">
                <div class="cell w-100 h-100" data-pos="31"></div>
            </div>
            <div class="col">
                <div class="cell w-100 h-100" data-pos="32"></div>
            </div>
            <div class="col">
                <div class="cell w-100 h-100" data-pos="33"></div>
            </div>
            <div class="col">
                <div class="cell w-100 h-100" data-pos="34"></div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="cell w-100 h-100" data-pos="40"></div>
            </div>
            <div class="col">
                <div class="cell w-100 h-100" data-pos="41"></div>
            </div>
            <div class="col">
                <div class="cell w-100 h-100" data-pos="42"></div>
            </div>
            <div class="col">
                <div class="cell w-100 h-100" data-pos="43"></div>
            </div>
            <div class="col">
                <div class="cell w-100 h-100" data-pos="44"></div>
            </div>
        </div>
    </div>
    <div class="container scores-field">
        <div class="row h-100">
            <div class="col-md-2 align-self-center">
                <div class="btn-wrap">
                    <button type="button"
                       class="btn btn-ladder btn-secondary btn-lg btn-block"
                       data-toggle="modal"
                       data-target="#ladder-modal"
                    >
                        <i class="fa fa-graduation-cap"></i> {{ 'electric.front.page.ladder_btn'|trans }}
                    </button>
                </div>
            </div>
            <div class="col-md-8 align-self-center">
                <div class="scores-panel">
                    0
                </div>
            </div>
            <div class="col-md-2 align-self-center">
                <a href="#" class="btn btn-secondary btn-new btn-lg btn-block">
                    <i class="fa fa-file"></i> {{ 'electric.front.page.new_game_btn'|trans }}
                </a>
            </div>
        </div>
    </div>
    <div class="modal fade" id="ladder-modal" tabindex="-1" role="dialog" aria-labelledby="ladder-modal-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ladder-modal-label">{{ 'electric.front.ladder_popup.title'|trans }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'electric.front.popup.close'|trans }}">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="list-group" id="leaders-list">
                        <li class="list-group-item disabled">
                            {{ 'electric.front.ladder_popup.name'|trans }}
                            <span class="pull-right">{{ 'electric.front.ladder_popup.points'|trans }}</span>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'electric.front.popup.close'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="result-modal" tabindex="-1" role="dialog" aria-labelledby="result-modal-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ladder-modal-label">{{ 'electric.front.result_popup.title'|trans }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'electric.front.popup.close'|trans }}">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-inline form-results mb-2" id="result-form">
                        <div class="form-group mr-sm-2">
                            <label for="name" class="sr-only">{{ 'electric.front.result_popup.username'|trans }}</label>
                            <input type="text" class="form-control" id="name" name="username" placeholder="{{ 'electric.front.result_popup.username'|trans }}">
                        </div>
                        <button type="submit" class="btn btn-primary">{{ 'electric.front.result_popup.save'|trans }}</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'electric.front.popup.close'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
